<span *ngIf="node.isEdit else dirTitle">
  <app-tree-inline-edit [node]="node" (submit)="onSubmit()"></app-tree-inline-edit>
</span>

<ng-template #dirTitle>

  <span (dblclick)="node.editStart()"
        (click)="onToggle()"
        [routerLink]="[ './', { outlets: { details: ['details', node.id] } }]">

    <span *ngIf="node.name else noName">
      {{ node.name }}
    </span>

    <ng-template #noName>
      <span>
        <i>-- No name --</i>
      </span>
    </ng-template>

  </span>

  <span>
    <ng-content></ng-content>
    <strong *ngIf="node?.price">{{ node?.price | divideBy100 | currency }}</strong>
  </span>
</ng-template>
