<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form autocomplete="off" novalidate [formGroup]="dirEditForm" (ngSubmit)="onSubmit()">
      <div class="form-group"
           [ngClass]="{ 'has-feedback': nameControl.dirty || nameControl.touched,
                    'has-success': nameControl.valid,
                    'has-error': nameControl.invalid && (nameControl.dirty || nameControl.touched )}">

        <label for="dir-name" class="control-label">Directory name</label>
        <input type="text" id="dir-name" name="name" class="form-control" placeholder="Please provide directory name" formControlName="name">

        <span class="form-control-feedback glyphicon glyphicon-ok" *ngIf="isValid(nameControl)"></span>
        <span class="form-control-feedback glyphicon glyphicon-remove" *ngIf="isInvalid(nameControl)"></span>
        <span class="help-block" *ngIf="isInvalid(nameControl)">
      <p *ngIf="hasError(nameControl, 'required')">You must enter directory name</p>
    </span>
      </div>

      <button class="btn btn-primary" [disabled]="!isFormValid">Submit</button>
      <button type="reset" class="btn btn-default" routerLink="/">Cancel</button>
    </form>
  </div>
</div>


