<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form autocomplete="off" novalidate [formGroup]="fileEditForm" (ngSubmit)="onSubmit()">
      <div class="form-group"
           [ngClass]="{ 'has-feedback': nameControl.dirty || nameControl.touched,
                    'has-success': nameControl.valid,
                    'has-error': nameControl.invalid && (nameControl.dirty || nameControl.touched )}">

        <label for="dir-name" class="control-label">File name</label>
        <input type="text" id="dir-name" name="name" class="form-control" placeholder="Please provide directory name"
               formControlName="name">

        <span class="form-control-feedback glyphicon glyphicon-ok" *ngIf="isValid(nameControl)"></span>
        <span class="form-control-feedback glyphicon glyphicon-remove" *ngIf="isInvalid(nameControl)"></span>
        <span class="help-block" *ngIf="isInvalid(nameControl)">
          <p *ngIf="hasError(nameControl, 'required')">You must enter file name</p>
        </span>
      </div>

      <div class="form-group"
           [ngClass]="{ 'has-feedback': priceControl.dirty || priceControl.touched,
                    'has-success': priceControl.valid,
                    'has-error': priceControl.invalid && (priceControl.dirty || priceControl.touched )}">

        <label for="file-price" class="control-label">Price (USD)</label>


        <input type="number" id="file-price" name="price" class="form-control" placeholder="Please enter price"
               formControlName="price">

        <span class="form-control-feedback glyphicon glyphicon-ok" *ngIf="isValid(priceControl)"></span>
        <span class="form-control-feedback glyphicon glyphicon-remove" *ngIf="isInvalid(priceControl)"></span>
        <span class="help-block" *ngIf="isInvalid(priceControl)">
          <p *ngIf="hasError(priceControl, 'required')">Please provide price</p>
          <p *ngIf="hasError(priceControl, 'notLessZero')">
            {{ priceControl.errors['notLessZero'] }}
          </p>
        </span>
      </div>

      <div class="form-group"
           [ngClass]="{ 'has-feedback': contentControl.dirty || contentControl.touched,
                    'has-success': contentControl.valid,
                    'has-error': contentControl.invalid && (contentControl.dirty || contentControl.touched )}">

        <label for="file-content" class="control-label">Content</label>
        <textarea id="file-content" name="price" class="form-control" placeholder="Please enter file content"
                  formControlName="content"></textarea>

        <span class="form-control-feedback glyphicon glyphicon-ok" *ngIf="isValid(contentControl)"></span>
        <span class="form-control-feedback glyphicon glyphicon-remove" *ngIf="isInvalid(contentControl)"></span>
        <span class="help-block" *ngIf="isInvalid(contentControl)">
          <p *ngIf="hasError(contentControl, 'required')">You must enter content for file</p>
        </span>
      </div>

      <button class="btn btn-primary" [disabled]="!isFormValid">Submit</button>
      <button type="reset" class="btn btn-default" routerLink="/">Cancel</button>
    </form>
  </div>
</div>


