<div class="modal" [ngStyle]="{display: 'block'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Are you sure?
      </div>
      <div class="modal-body">
        Huh! There are <strong>{{ nodes.length  }}</strong> items  to remove.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="confirmed()">Yes</button>
        <button class="btn btn-default" type="button" routerLink="../../">No</button>
      </div>
    </div>
  </div>
</div>
