<div class="modal" [ngStyle]="{display: 'block'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Are you sure?
      </div>
      <div class="modal-body">
        Are you really really sure?
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="removeNode()">Yes I am</button>
        <button class="btn btn-default" type="button" routerLink="../../">No</button>
      </div>
    </div>
  </div>
</div>
