<ul>
  <li *ngFor="let node of children" class="tree-node">
    <span>
      <input type="checkbox" [checked]="node.checked" (click)="onCheck(node)"/>
    </span>

    <app-tree-node [node]="node" (updated)="onUpdated($event)">
      <div class="btn-group" role="group">
        <button class="btn btn-xs btn-primary" (click)="node.editStart()">
          <i class="glyphicon glyphicon-pencil"></i>
        </button>
        <button class="btn btn-xs btn-danger" [routerLink]="['../confirm', node.id]">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <button class="btn btn-xs btn-default" (click)="onAddDirTo(node)" *ngIf="node.isContainer">Add directory</button>
        <button class="btn btn-xs btn-default" (click)="onAddFileTo(node)" *ngIf="node.isContainer">Add file</button>
      </div>
    </app-tree-node>

    <div *ngIf="node.expanded">
      <app-tree-view [children]="node.children"></app-tree-view>
    </div>

  </li>
</ul>
