<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary" routerLink="/">
      <i class="glyphicon glyphicon-backward"></i> Back
    </button>
    <div *ngIf="pay$ | async as pay else loading">
      <iframe width="100%" height="500" [src]="pay.sale_url | safeUrl"></iframe>
    </div>

    <ng-template #loading>
      <div>Loaging...</div>
    </ng-template>
  </div>
</div>

