<form (ngSubmit)="onSubmit()" #editForm="ngForm" novalidate autocomplete="off" (keyup)="onKeyUp($event)">

  <input [(ngModel)]="title" required #titleCtrl="ngModel" name="title" placeholder="Enter name"/>
  <span class="errors" *ngIf="titleCtrl.control.invalid && (titleCtrl.control.touched || titleCtrl.control.dirty)">
    <p *ngIf="titleCtrl.errors['required']">Name is mandatory</p>
  </span>

  <div class="btn-group" role="group" *ngIf="titleCtrl.control.valid">
    <button class="btn btn-xs btn-primary">
      <i class="glyphicon glyphicon-ok"></i>
    </button>
    <button type="button" class="btn btn-xs btn-default" (click)="onCancel()">
      <i class="glyphicon glyphicon-ban-circle"></i>
    </button>
  </div>
</form>
