<div class="row">
  <div class="col-md-6">
    <div class="tree well">
      <div class="btn-group" role="group">
        <button class="btn btn-primary btn-sm" (click)="populateTree()">
          <i class="glyphicon glyphicon-refresh"></i>
          Populate DB
        </button>
        <button class="btn btn-default btn-sm" (click)="addDirectory()">Add directory</button>
        <button class="btn btn-default btn-sm" (click)="addFile()">Add file</button>
        <button class="btn btn-danger btn-sm" (click)="removeSeleted()" *ngIf="(checked$ | async)?.length">
          Remove selected
        </button>
        <button class="btn btn-success btn-sm" [routerLink]="['../','pay']" *ngIf="(totalAmount$ | async) > 0">
          Pay <strong>{{ totalAmount$ | async | divideBy100 | currency }}</strong>
        </button>
      </div>
      <app-tree-view [children]="root$ | async"></app-tree-view>
    </div>
  </div>
  <div class="col-md-6">
    <router-outlet name="details"></router-outlet>
  </div>
</div>
